<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>とがスタディ | {{ page.title }}</title>
</head>
<body>
<header class="page-header">
    <h1>とがスタディ（勉強会等資料集）</h1>
    <h4>このサイトの管理人が、勉強会やLT、講話などで使用した資料や関連資料をザックリとまとめたページです。<br />元資料のライセンスおよび著作権法の「引用」の範囲内で転載（引用）可です。記事のシェアも歓迎です。</h4>
</header>
<div class="container">{{ content }}</div>
<footer class="page-footer">{% include footer.html %}</footer>
</body>
</html>
